# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

In [17]:
y=list(range(1, 11))
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

In [ ]:
my_tuple=("apple", "banana", "cherry")

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [6]:
numbers = [10, 20, 30, 40]
tuples=tuple(numbers)

tuple

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [18]:
v=set('12345')
type(v)
v

{'1', '2', '3', '4', '5'}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [ ]:
student={"name":"Alice","age":20,"grade":"A"}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [8]:
liste=[10, 20, 30, 40, 50]
print(liste[1])

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [11]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]="mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [13]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [12]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

range(0, 10)

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [26]:
liste = [ x**2 for x in range(2, 11) if x % 2 == 0]
print(liste)

[2, 4, 6, 8, 10]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [25]:
tuples = tuple( x for x in range(2, 11) if x % 2 == 0)
print(tuples)
type(tuples)

(2, 4, 6, 8, 10)

tuple

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [1]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [ ]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print('3 exist')
else:
    print('3 nor exist')

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [2]:
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [ ]:
scores = [80, 85, 90, 95]
scores.append(100)

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [3]:
def sums(lists):
    try:
        return sum(lists)
    except TypeError:
        print('Error')
print(sums([2,3,4,5]))

14

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [5]:
numbers = [1, 2, 2, 3, 4, 4, 5]
new_lists=set(numbers)
new_lists

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [10]:
string="hello"
print(list(set(string)))

list

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [17]:
tuples=(1, 2, 3, 4)
reverse=tuples[: :-1]
print(reverse)

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [31]:

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

In [ ]:
dicts={'1':1,'2':4,'3':9,'4':16,'5':25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [2]:
dicts={'1':1,'2':4,'3':9,'4':16,'5':25}
for cle,valeur in dicts.items():
    if dicts.items():
        print(cle,valeur)

1 1
2 4
3 9
4 16
5 25

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [3]:
letter_alpha=[chr(i) for i in range(97,102)] #d'apres le code ascii pour les lettres mini
print(letter_alpha)

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [4]:
list_1=[1,2,3]
list_2=["a", "b", "c"]
List_comb=list(zip(list_1,list_2))

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [11]:
List=[10, 20, 30, 40, 50]
i=List.index(50)
print(i)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [14]:
names = ["Alice", "Charlie","Bob",  "David"]
names=sorted(names)
print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [17]:
def largest(List):
    larg=max(List)
    print(larg)
largest(List=[1,3,4,99,7,55,889])

889

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [25]:
fruits = ["apple", "banana", "apple", "orange"]
result=fruits.count('apple')
print(result)

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [24]:
person = {"name": "Alice", "age": 25, "city": "New York"}
person['city']

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [26]:
def dupli(fruits):
    return list(set(fruits))
fruits = ["apple", "banana", "apple", "orange"]
dupli(fruits)

['apple', 'banana', 'orange']

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [42]:
def intersection(list1,list2):
    return [i for i in list1 if i in list2]
list1=list(set([1,2,3,4,5,1,3]))
list2=list(set([3,4,5,6,2,1,7]))
List=intersection(list1,list2)
List

[1, 2, 3, 4, 5]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [39]:
def squares(n):
    return n**2
for n in range (1,11):
        squares(n)

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [27]:
def sums(dicts):
    return sum(dicts.values())
dicts={'1':1,'2':4,'3':9,'4':16,'5':25}
sums(dicts)

55

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [28]:
List=[3, 1, 4, 1, 5, 9]
List=sorted(List)
List

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [ ]:
def longest(lists):
    return

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [43]:
List =[1, 2, 3, 4, 5]
resultat=all(x>0 for x in List)
print(resultat)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [ ]:
lists=[(1,1),(2,4),(3,9),(4,16),(5,25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [47]:
def index(lists):
    return [i[1] for i in lists]
lists=[(1,1),(2,4),(3,9),(4,16),(5,25)]  
result=index(lists)
print(result)

[1, 4, 9, 16, 25]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [ ]:
def flattens(lists):
    return [ i for j in lists for i in j]
lists=[[1,2,3],[3,4],[6,7,8]]
result=flattens(lists)

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [48]:
fruits=["apple", "banana", "cherry"]
for index,value in enumerate(fruits):
    print(index,value)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [ ]:
even_numbers=[x for x in range(1,21) if x%2==0]
print(even_numbers)

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [ ]:
def reverse_list(lists):
    return lists[::-1]
lists=[1,2,3,4,5,6]
result=reverse_list(lists)

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [ ]:
cubes={i: i**3 for i in range(1,6)}
print(cubes)

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [ ]:
new_list=list(set([1, 2, 2, 3, 4, 4, 5]))

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [ ]:
def function(dict_list,key):
    return[i.get(key) for i in dict_list]
persons=[ {"name": "Alice", "age": 25, "city": "New York"},{'name': 'Bob', 'age': 30, 'city': 'London'}]
first=function(persons,'name')
ages=function(persons,'age')
cities=function(persons,'city')

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [ ]:
def fibbonaci(n):
    i=0
    j=1
    for a in range(n):
        yield i
        i,j=j,i+j
n=int(input('value n'))
for num in fibbonaci(n):
    print(num,end=' ')

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [ ]:
def unique(text):
    return list(set(text))
text="hello AIMS"
result=unique(text)

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [ ]:
def merges(list1,list2):
    return sorted(list1+list2)
list1=[1,2,3,4,5]
list2=[3,4,5,8,9]
result=merges(list1,list2)
print(result)

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [50]:
def even(num):
    return num%2==0
list_num=[1,2,3,4,5]
even_num=list(filter(even,list_num))
print(even_num)

[2, 4]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---